<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aseo general en planta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/Styles_aseo.CSS">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg .nav-personalizada">
        <div class="container-fluid">
            <img class="logo_1" src="../img/logistica-jahuer.png" alt="Logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html"><strong>Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html"><strong>Registro</strong></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong>Servicios</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="aseo.html">Aseo general en planta</a></li>
                            <li><a class="dropdown-item" href="cargueydescargue.html">Cargue y descargue de materia
                                    prima</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="login.html"><button class="btn btn-outline-success" type="button">Iniciar
                        Sesion</button></a>
            </div>
        </div>
    </nav>
    <a href="https://wa.me/314894341">
        <img class="logo_whatsapp" src="../img/logo-whatsapp.png" alt="Logo whatsapp">
    </a>
    <div class="contenedor_body">
        <div class="contenedor_titulo">
            <h1 class="titulo_1"> <strong>ASEO GENERAL EN PLANTA</strong></h1>
        </div class="contenedor_parrafo">
        <p class="parrafo">
            El aseo general en planta no es solo una cuestión de apariencia; es un pilar fundamental de la eficiencia
            operativa y la seguridad industrial. Un entorno de producción limpio reduce el riesgo de accidentes, evita
            la
            contaminación cruzada y prolonga la vida útil de la maquinaria.
        </p>
        <div class="img_limpieza">
            <img src="../img/aseo-planta.jpg" alt="Mujer limpiando">
        </div>
        <h2 class="titulo_2"><em>¿En qué consiste nuestro servicio / proceso?</em></h2>
        <p class="parrafo">Nuestro protocolo de limpieza integral aborda todas las áreas críticas de la instalación,
            asegurando el
            cumplimiento de las normativas de seguridad e higiene vigentes.</p>

        <ol>
            <li class="titulo_li"><em>Limpieza de Superficies y Estructuras</em></li>
            <ul class="texto_li">
                <div class="d_trabajo">
                    <div>
                        <li><strong>Pisos Industriales:</strong> Desengrasado y lavado profundo de suelos, eliminando
                            residuos
                            químicos, aceites o
                            restos de producción.</li>
                        <li><strong>Paredes y Techos:</strong> Remoción de polvo acumulado en altura, telarañas y
                            limpieza
                            de
                            ductos visibles.
                        </li>
                        <li> <strong>Superficies Metálicas:</strong> Limpieza de vigas, columnas y soportes para evitar
                            la
                            corrosión y acumulación de
                            sedimentos.
                        </li>
                    </div>
                    <img class="img_limpieza_estructura" src="../img/limpieza-de-estructuras.jpg"
                        alt="Limpieza de estructuras">
                </div>
            </ul>
            <li class="titulo_li"><em>Higienización de Maquinaria y Equipos</em></li>
            <ul>
                <div class="d_trabajo">
                    <img class="img_higienizacion" src="../img/higienizacion-maquinaria.jpg"
                        alt="Higienización de maquinaria">
                    <div class="texto_li">
                        <li><strong>Limpieza Externa:</strong> Retiro de suciedad en tableros, carcasas y bandas
                            transportadoras
                            sin
                            comprometer
                            los
                            componentes eléctricos.</li>
                        <li><strong>Desinfección:</strong> En plantas de alimentos o fármacos, aplicamos agentes
                            desinfectantes
                            de
                            grado
                            industrial
                            para eliminar microorganismos.</li>
                    </div>
                </div>
            </ul>
            <li class="titulo_li"><em>Gestión de Áreas Comunes y Almacenes</em></li>
            <ul>
                <div class="d_trabajo">
                    <div class="texto_li">
                        <li><strong>Bodegas y Racks:</strong> Organización y limpieza de estanterías para facilitar el
                            inventario y
                            la movilidad.
                        </li>
                        <li><strong>Zonas de Carga:</strong> Despeje y aseo de muelles para asegurar un flujo logístico
                            sin
                            obstáculos.</li>
                    </div>
                    <img class="img_zona_carga" src="../img/zona-de-carga.jpg" alt="Zona de carga">
                </div>
            </ul>
            <li class="titulo_li"><em>Manejo de Residuos</em></li>
            <div class="d_trabajo">
                <img src="../img/residuos.jpg" alt="Manejo de residuos" class="img_residuos">
                <div class="texto_li">
                    Clasificación y disposición final de desechos sólidos y líquidos, siguiendo protocolos ambientales
                    para
                    minimizar el impacto ecológico.
                </div>
            </div>
        </ol>
        </p>
    </div>
    <footer>
        <div class="container_footer">
            <p><strong>Teléfono:</strong> 123-456-7890 | <strong>Correo electrónico:</strong> info@logisticajahuer.com |
                <strong>Dirección:</strong> Calle Principal #123, Buga, Colombia
            </p>
            <p>&copy; 2026 LOGÍSTICA JAHUER S.A.S. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>