<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargue y descargue de materia prima</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/styles_cargue.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg .nav-personalizada">
        <div class="container-fluid">
            <img class="logo_1" src="../img/logistica-jahuer.png" alt="Logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html"><strong>Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html"><strong>Registro</strong></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <strong>Servicios</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="aseo.html">Aseo general en planta</a></li>
                            <li><a class="dropdown-item" href="cargueydescargue.html">Cargue y descargue de materia
                                    prima</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="login.html"><button class="btn btn-outline-success" type="button">Iniciar
                        Sesion</button></a>
            </div>
        </div>
    </nav>
    <a href="https://wa.me/314894341">
        <img class="logo_whatsapp" src="../img/logo-whatsapp.png" alt="Logo whatsapp">
    </a>

    <div class="contenedor_titulo">
        <h1 class="titulo_1"><strong>CARGUE Y DESCARGUE DE PRODUCTO TERMINADO</strong></h1>
    </div>
    <p class="parrafo">El servicio de cargue y descargue es el "músculo" de la logística. Se trata de la manipulación
        física de mercancías, asegurando que pasen del transporte al almacén (o viceversa) de forma rápida,
        ordenada y sin daños.
    </p>
    <h2 class="titulo_2">Nuestros servicios incluyen</h2>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/descargue-minicargador.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../img/descargue bultos.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../img/estibada de productos.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <ul class="lista_cargue">
        <li><strong> 📦Cargue y descargue de producto terminado:</strong> <em> Manejo impecable para que tus pedidos lleguen
            perfectos al cliente final.</em></li>
        <li><strong> 🏗️Recepción de materia prima:</strong> <em>Agilidad en la descarga para abastecer tu producción sin
            retrasos.</em></li>
        <li><strong>⚖️Control y organización:</strong><em> Estibado correcto, conteo de piezas y optimización del espacio en
            bodega o camión.</em></li>
    </ul>












    <footer>
        <div class="container_footer">
            <p><strong>Teléfono:</strong> 123-456-7890 | <strong>Correo electrónico:</strong> info@logisticajahuer.com |
                <strong>Dirección:</strong> Calle Principal #123, Buga, Colombia
            </p>
            <p>&copy; 2026 LOGÍSTICA JAHUER S.A.S. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>




</body>

</html>